<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body id="body">
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}

	<!-- For Netlify Identity and CMS -->
	<script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>
</body>

</html>